.header {
    align-items: center;
    border-bottom: 1px solid silver;
    display: flex;
    height: 65px;
    left: 0;
    padding: 8px;
    position: fixed;
    right: 0;
    top: 0;
}

.logo {
    border-radius: 2px;
    height: 48px;
    margin-right: 8px;
    width: 48px;
}

.content {
    bottom: 36px;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    right: 321px;
    top: 65px;
}

.history {
    border-left: 1px solid silver;
    bottom: 36px;
    max-width: 320px;
    min-width: 320px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 65px;
}

.historyCard{
    margin: 16px;
}

.historyDatetime{
    margin: 8px;
}

.historyGif {
    margin: 8px;
    max-width: calc(100% - 16px);
    object-fit: contain;
}

.button {
    background-color: darkcyan;
    border-radius: 4px;
    border: none;
    color: white;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin: 8px 0;
    padding: 8px 16px;
    text-decoration: none;
}

.button:disabled {
    opacity: 0.5;
}

.status {
    background-color: antiquewhite;
    display: inline-block;
    border-radius: 4px;
    padding: 16px 48px;
    text-align: center;
}

.output {
    text-align: center;
}

.gif {
    text-align: center;
    max-width: 100%;
    border: 1px solid silver;
}

.footer {
    background-color: #333;
    bottom: 0;
    color: #fff;
    font-size: 14px;
    height: 36px;
    left: 0;
    line-height: 36px;
    padding: 0 16px;
    position: fixed;
    right: 0;
    text-align: right;
}

.copyright {
    color: inherit;
}

