.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gif {
  max-width: 100%;
}

.footer {
    background-color: #333;
    bottom: 0;
    color: #fff;
    font-size: 14px;
    left: 0;
    line-height: 2.5;
    position: fixed;
    right: 0;
    text-align: right;
    padding: 0 16px
}

